<%- include('../partials/pghead') %>
  <!-- navbar start  -->
  <!-- navbar end  -->
  <div class="homeFirstDiv">

    <%- include('../partials/homenav') %>


      <div class="yellowDivBlogDetail">

      </div>
      <h3 class="blogDetailFirstDivHeading3">10 SEP, 2023</h3>
      <h1 class="blogDetailFirstDivHeading1">What I have Learned From Podcast</h1>

      <img class="imgClass" src="/images/men.png" alt="">
  </div>


  <!-- PODCAST  -->
  <div class="center-div">
    <div class="centerDivTop">
      <div>
        <h2 class="centerDivTopHeadinf">Latest Podcast</h2>
      </div>
      <div class="buttonViewAll">
        <h4 class="topHeadButtonHeading">View all</h4>
      </div>
    </div>
    <div class="centerDivBody">
      <% PodcastPosts.map(({name, description ,detail,url, view,imagePath,heart}) => { %>
      <div class="latestPodcastContentContainer">

        <h1 class="especialClassCounter"></h1>

       <a href="<%=url %>" target="_blank"> <img class="imgLatestPodcast" src="<%=imagePath %>" alt=""> </a>

        <div class="contentPartLatestPodcast">
          <h2 class="latestPodcastContentHeading"><%=name %></h2>

          <p class="latestPodcastContentPara"><%=description %></p>

          <h3 class="latestPdcastDetail"><%=detail %></h3>

          <div class="likeAndListen">
            <p><i class='bx bxs-heart' style='color:#f7cd1e'></i> <%=heart %></p>
            <p><i class='bx bx-headphone' style='color:#f7cd1e'></i> <%=view %></p>

          </div>
        </div>
      </div>
      <% }) %>

  
     
    </div>

  </div>
  <!-- PODCAST  -->


  <!-- About Us  -->
  <div class="aboutUsDivHome" id="aboutus">
    <div class="relativePositionDiv">
      <div class="yellowBox"></div>
      <div class="aboutUsImg"> <img src="/images/Rectangle 10.png" alt=""></div>
    </div>
    <div class="textAboutUs">
      <div class="yellowline"></div>
      <h1 class="aboutUsDivMainHeading">
        About us
      </h1>
      <p class="afterHeadingPara">Over 10 Years Helping Brands to Reach Full Potential </p>

      <div class="imgAndHeadingAboutUs">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="47" viewBox="0 0 34 47" fill="none">
          <g clip-path="url(#clip0_59_616)">
            <path
              d="M17.5661 1.36588e-05C18.6095 0.226102 19.4233 0.846529 20.2007 1.54057C20.6807 1.96645 21.2076 2.3345 21.6667 2.77616C22.298 3.37556 23.0492 3.61216 23.8944 3.67C24.8909 3.73835 25.8874 3.83825 26.8838 3.95392C28.6316 4.15898 29.9619 5.63644 30.1185 7.50824C30.2071 8.55981 30.2593 9.61664 30.4315 10.6577C30.515 11.1782 30.7445 11.7198 31.0471 12.1457C31.6732 13.0237 32.4036 13.8282 33.0818 14.6747C34.3026 16.1995 34.3026 18.0713 33.0922 19.6066C32.607 20.2165 32.1479 20.8527 31.6053 21.4048C30.6923 22.3301 30.3271 23.4343 30.2958 24.7119C30.275 25.5059 30.1915 26.2998 30.0715 27.0832C29.7793 28.9813 28.4281 30.2169 26.5343 30.3799C25.9187 30.4325 25.303 30.5009 24.6405 30.5639C25.3135 32.1886 25.9708 33.766 26.623 35.3433C27.5881 37.6673 28.5481 39.9965 29.5185 42.3153C29.6959 42.7411 29.7689 43.1407 29.435 43.5088C29.1115 43.8611 28.7203 43.8295 28.2977 43.7086C27.0612 43.3458 25.8195 43.0146 24.5831 42.6465C24.2805 42.5571 24.1292 42.5992 23.9779 42.8936C23.3675 44.0556 22.7258 45.1966 22.1049 46.3533C21.8963 46.7476 21.6198 47.0263 21.145 46.9895C20.6963 46.958 20.4616 46.653 20.2998 46.2587C19.4807 44.2712 18.6512 42.2837 17.8321 40.2962C17.6078 39.7442 17.78 39.2815 18.2443 39.1974C18.6982 39.1132 18.9434 39.3656 19.1051 39.7599C19.7416 41.311 20.3885 42.8621 21.0302 44.4131C21.0928 44.5656 21.1659 44.7181 21.2546 44.9337C21.3485 44.7865 21.4215 44.6813 21.4841 44.5656C21.9484 43.7244 22.4023 42.8778 22.8667 42.0366C23.2997 41.2532 23.8788 41.0061 24.7292 41.2427C25.6317 41.495 26.5343 41.7579 27.4369 42.0156C27.5777 42.0576 27.7238 42.0839 27.9273 42.1312C27.369 40.78 26.8317 39.4918 26.2943 38.1984C25.3135 35.8323 24.3274 33.4663 23.3623 31.0897C23.2162 30.7269 23.0284 30.6533 22.7154 30.8216C22.4649 30.9583 22.1989 31.0792 21.9745 31.258C20.9624 32.0624 19.9607 32.8827 18.9695 33.7081C18.8495 33.808 18.7764 33.9763 18.7138 34.1235C17.0548 38.109 15.4009 42.0944 13.7419 46.0851C13.7002 46.185 13.6636 46.2849 13.6219 46.3796C13.4602 46.7476 13.1889 46.9737 12.7872 46.9842C12.4011 46.9948 12.1246 46.795 11.942 46.4585C11.3003 45.2807 10.6429 44.1082 10.0221 42.9199C9.85514 42.5992 9.69341 42.5414 9.34908 42.6465C8.11784 43.0198 6.87095 43.3511 5.63449 43.7086C5.22755 43.8295 4.85192 43.8295 4.54411 43.493C4.22065 43.1407 4.27282 42.7517 4.44498 42.3415C6.01012 38.5822 7.57004 34.8176 9.12996 31.0582C9.19257 30.9057 9.24996 30.7532 9.323 30.5587C8.51434 30.4693 7.74221 30.4167 6.98051 30.2905C5.31103 30.0224 4.0537 28.6553 3.88675 26.9676C3.77719 25.8424 3.65198 24.7172 3.55286 23.5868C3.50068 22.9979 3.27113 22.5036 2.90072 22.0567C2.43117 21.4941 1.98772 20.9158 1.50774 20.3584C0.8243 19.5698 0.203462 18.7495 -0.020874 17.698V16.5044C0.229548 15.4266 0.89734 14.6011 1.59122 13.7914C2.05554 13.2498 2.54595 12.7135 2.93724 12.1194C3.21896 11.6882 3.44851 11.173 3.53199 10.6682C3.70937 9.55354 3.77719 8.4231 3.88675 7.29266C4.06413 5.49973 5.46232 4.09063 7.23615 3.91186C8.38391 3.79619 9.53168 3.71206 10.6742 3.54907C11.0916 3.49123 11.509 3.28618 11.8794 3.0706C12.2289 2.86555 12.5159 2.55533 12.8393 2.30296C13.9506 1.43015 14.9105 0.315485 16.3661 -0.0262756H17.5504L17.5661 1.36588e-05ZM32.6018 17.1354C32.6227 16.5307 32.3827 15.9997 31.9914 15.5265C31.2923 14.68 30.6036 13.8282 29.9098 12.9764C29.3724 12.3192 29.1011 11.5568 29.0281 10.7103C28.9342 9.58509 28.8403 8.45465 28.689 7.33473C28.5324 6.18851 27.6768 5.42612 26.5395 5.32097C25.543 5.22633 24.5466 5.11065 23.5501 5.03704C22.5119 4.95817 21.6198 4.58487 20.8372 3.89083C20.0964 3.2336 19.3294 2.61317 18.5625 1.98748C17.5713 1.18303 16.4235 1.18303 15.4427 1.98748C14.6079 2.67101 13.7784 3.36504 12.9489 4.05908C12.3281 4.57961 11.6237 4.9056 10.8099 4.98446C9.69341 5.08962 8.57695 5.21055 7.46048 5.32097C6.26054 5.43664 5.38407 6.30944 5.27451 7.51349C5.1806 8.51775 5.06582 9.522 4.99278 10.5262C4.91453 11.5726 4.55454 12.4769 3.86588 13.2656C3.22418 13.9964 2.62421 14.7693 2.00859 15.5265C1.1582 16.578 1.16341 17.7348 2.01902 18.7811C2.7129 19.6329 3.40678 20.4794 4.10065 21.3311C4.57541 21.9148 4.86235 22.5773 4.93539 23.3291C5.04495 24.4701 5.16495 25.611 5.27451 26.752C5.38407 27.9245 6.14055 28.771 7.30397 28.9445C8.12827 29.0655 8.9578 29.1601 9.79254 29.1916C11.2272 29.2442 12.4846 29.6754 13.5332 30.7059C14.0862 31.2475 14.7175 31.7049 15.3175 32.2044C16.4444 33.1456 17.5504 33.1508 18.6877 32.2097C19.4755 31.5629 20.2581 30.911 21.0354 30.2485C21.7345 29.6543 22.5275 29.3494 23.4353 29.2758C24.5361 29.1864 25.6422 29.0865 26.7378 28.934C27.7864 28.7868 28.5377 28.0297 28.689 26.9833C28.8142 26.1368 28.9081 25.2851 28.9394 24.428C28.9916 22.9821 29.4141 21.715 30.4367 20.6529C31.0262 20.0377 31.5271 19.3384 32.0644 18.6759C32.4244 18.2343 32.6175 17.7295 32.607 17.1301L32.6018 17.1354ZM12.7246 44.9863C14.2167 41.3846 15.6722 37.8776 17.1643 34.276C15.6253 34.3706 14.634 33.4768 13.6271 32.6093C13.1106 32.1623 12.5837 31.7207 12.0463 31.3C11.8116 31.116 11.5351 30.9793 11.269 30.8374C10.9612 30.6744 10.7786 30.7269 10.6221 31.095C9.16127 34.6598 7.67438 38.2194 6.19794 41.779C6.1562 41.8789 6.13533 41.9893 6.08838 42.147C7.16832 41.8368 8.18566 41.5476 9.203 41.2584C10.1212 41.0008 10.669 41.2321 11.1333 42.0681C11.6498 43.004 12.1559 43.9399 12.7246 44.9757V44.9863Z"
              fill="#F7CD1E" />
            <path
              d="M27.7864 17.1459C27.7864 23.5657 22.3084 28.5922 15.954 27.9876C10.836 27.5039 6.75097 23.3554 6.26056 18.1501C5.83797 13.681 8.22741 9.36426 12.2237 7.38205C12.2655 7.36102 12.3072 7.34524 12.3489 7.32421C12.9072 7.05606 13.2776 7.12967 13.4811 7.54504C13.6793 7.9499 13.4967 8.29691 12.9541 8.58084C9.54213 10.358 7.737 13.192 7.59614 17.0512C7.42919 21.6256 11.0394 25.895 15.5418 26.5259C20.7068 27.2515 25.2822 23.9653 26.2734 18.8074C27.2386 13.7809 23.7171 8.63867 18.7086 7.81845C17.8791 7.68174 17.0183 7.72907 16.1731 7.69752C15.9488 7.687 15.7088 7.73958 15.4949 7.68174C15.1714 7.5871 14.994 7.32947 15.0305 6.98245C15.0723 6.57234 15.3331 6.3778 15.7296 6.33573C17.6078 6.1149 19.4181 6.36728 21.1607 7.10338C25.1779 8.79115 27.7864 12.7556 27.7864 17.1511V17.1459Z"
              fill="#F7CD1E" />
            <path
              d="M14.6601 17.9241C15.1557 17.4035 15.5835 16.9356 16.0322 16.4834C17.2634 15.2373 18.4895 13.9912 19.7311 12.7556C20.4407 12.051 21.4058 11.9196 22.2406 12.3718C23.0545 12.8134 23.5083 13.7178 23.284 14.6537C23.1849 15.0638 22.9605 15.4949 22.6684 15.7946C20.5241 17.9977 18.3538 20.1797 16.1835 22.3564C15.2705 23.2713 14.0236 23.2555 13.1002 22.3407C12.1194 21.3627 11.1385 20.3847 10.1734 19.391C9.30733 18.5024 9.30211 17.1932 10.1316 16.3467C10.9716 15.4949 12.2498 15.4949 13.1471 16.373C13.6375 16.8515 14.1019 17.3562 14.6549 17.9293L14.6601 17.9241ZM14.6601 21.6939C14.8844 21.5572 15.0983 21.4679 15.2496 21.3154C17.3991 19.1597 19.5433 16.9934 21.6823 14.8324C21.745 14.7693 21.8128 14.701 21.8545 14.6221C22.0267 14.3067 22.011 13.9964 21.7606 13.7388C21.4945 13.4654 21.1763 13.4233 20.8528 13.6336C20.7172 13.723 20.6024 13.8545 20.4824 13.9702C18.7555 15.7105 17.0339 17.4509 15.3018 19.1912C14.801 19.696 14.5036 19.6907 13.9923 19.1859C13.4028 18.5918 12.8185 17.9924 12.2185 17.4035C11.8481 17.0407 11.4411 17.0145 11.1281 17.3142C10.8099 17.6191 10.8255 18.0713 11.1959 18.4446C12.1454 19.412 13.095 20.3742 14.0601 21.3259C14.2114 21.4784 14.4305 21.5625 14.6497 21.6939H14.6601Z"
              fill="#F7CD1E" />
          </g>
          <defs>
            <clipPath id="clip0_59_616">
              <rect width="34" height="47" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <h4 class="aboutUsMiniHeadings">Quality</h4>

      </div>
      <p class="generalParaAboutUs"> Everything we do has the commitment of a well trained and motivated team.</p>
      <div class="imgAndHeadingAboutUs">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="47" viewBox="0 0 34 47" fill="none">
          <g clip-path="url(#clip0_59_616)">
            <path
              d="M17.5661 1.36588e-05C18.6095 0.226102 19.4233 0.846529 20.2007 1.54057C20.6807 1.96645 21.2076 2.3345 21.6667 2.77616C22.298 3.37556 23.0492 3.61216 23.8944 3.67C24.8909 3.73835 25.8874 3.83825 26.8838 3.95392C28.6316 4.15898 29.9619 5.63644 30.1185 7.50824C30.2071 8.55981 30.2593 9.61664 30.4315 10.6577C30.515 11.1782 30.7445 11.7198 31.0471 12.1457C31.6732 13.0237 32.4036 13.8282 33.0818 14.6747C34.3026 16.1995 34.3026 18.0713 33.0922 19.6066C32.607 20.2165 32.1479 20.8527 31.6053 21.4048C30.6923 22.3301 30.3271 23.4343 30.2958 24.7119C30.275 25.5059 30.1915 26.2998 30.0715 27.0832C29.7793 28.9813 28.4281 30.2169 26.5343 30.3799C25.9187 30.4325 25.303 30.5009 24.6405 30.5639C25.3135 32.1886 25.9708 33.766 26.623 35.3433C27.5881 37.6673 28.5481 39.9965 29.5185 42.3153C29.6959 42.7411 29.7689 43.1407 29.435 43.5088C29.1115 43.8611 28.7203 43.8295 28.2977 43.7086C27.0612 43.3458 25.8195 43.0146 24.5831 42.6465C24.2805 42.5571 24.1292 42.5992 23.9779 42.8936C23.3675 44.0556 22.7258 45.1966 22.1049 46.3533C21.8963 46.7476 21.6198 47.0263 21.145 46.9895C20.6963 46.958 20.4616 46.653 20.2998 46.2587C19.4807 44.2712 18.6512 42.2837 17.8321 40.2962C17.6078 39.7442 17.78 39.2815 18.2443 39.1974C18.6982 39.1132 18.9434 39.3656 19.1051 39.7599C19.7416 41.311 20.3885 42.8621 21.0302 44.4131C21.0928 44.5656 21.1659 44.7181 21.2546 44.9337C21.3485 44.7865 21.4215 44.6813 21.4841 44.5656C21.9484 43.7244 22.4023 42.8778 22.8667 42.0366C23.2997 41.2532 23.8788 41.0061 24.7292 41.2427C25.6317 41.495 26.5343 41.7579 27.4369 42.0156C27.5777 42.0576 27.7238 42.0839 27.9273 42.1312C27.369 40.78 26.8317 39.4918 26.2943 38.1984C25.3135 35.8323 24.3274 33.4663 23.3623 31.0897C23.2162 30.7269 23.0284 30.6533 22.7154 30.8216C22.4649 30.9583 22.1989 31.0792 21.9745 31.258C20.9624 32.0624 19.9607 32.8827 18.9695 33.7081C18.8495 33.808 18.7764 33.9763 18.7138 34.1235C17.0548 38.109 15.4009 42.0944 13.7419 46.0851C13.7002 46.185 13.6636 46.2849 13.6219 46.3796C13.4602 46.7476 13.1889 46.9737 12.7872 46.9842C12.4011 46.9948 12.1246 46.795 11.942 46.4585C11.3003 45.2807 10.6429 44.1082 10.0221 42.9199C9.85514 42.5992 9.69341 42.5414 9.34908 42.6465C8.11784 43.0198 6.87095 43.3511 5.63449 43.7086C5.22755 43.8295 4.85192 43.8295 4.54411 43.493C4.22065 43.1407 4.27282 42.7517 4.44498 42.3415C6.01012 38.5822 7.57004 34.8176 9.12996 31.0582C9.19257 30.9057 9.24996 30.7532 9.323 30.5587C8.51434 30.4693 7.74221 30.4167 6.98051 30.2905C5.31103 30.0224 4.0537 28.6553 3.88675 26.9676C3.77719 25.8424 3.65198 24.7172 3.55286 23.5868C3.50068 22.9979 3.27113 22.5036 2.90072 22.0567C2.43117 21.4941 1.98772 20.9158 1.50774 20.3584C0.8243 19.5698 0.203462 18.7495 -0.020874 17.698V16.5044C0.229548 15.4266 0.89734 14.6011 1.59122 13.7914C2.05554 13.2498 2.54595 12.7135 2.93724 12.1194C3.21896 11.6882 3.44851 11.173 3.53199 10.6682C3.70937 9.55354 3.77719 8.4231 3.88675 7.29266C4.06413 5.49973 5.46232 4.09063 7.23615 3.91186C8.38391 3.79619 9.53168 3.71206 10.6742 3.54907C11.0916 3.49123 11.509 3.28618 11.8794 3.0706C12.2289 2.86555 12.5159 2.55533 12.8393 2.30296C13.9506 1.43015 14.9105 0.315485 16.3661 -0.0262756H17.5504L17.5661 1.36588e-05ZM32.6018 17.1354C32.6227 16.5307 32.3827 15.9997 31.9914 15.5265C31.2923 14.68 30.6036 13.8282 29.9098 12.9764C29.3724 12.3192 29.1011 11.5568 29.0281 10.7103C28.9342 9.58509 28.8403 8.45465 28.689 7.33473C28.5324 6.18851 27.6768 5.42612 26.5395 5.32097C25.543 5.22633 24.5466 5.11065 23.5501 5.03704C22.5119 4.95817 21.6198 4.58487 20.8372 3.89083C20.0964 3.2336 19.3294 2.61317 18.5625 1.98748C17.5713 1.18303 16.4235 1.18303 15.4427 1.98748C14.6079 2.67101 13.7784 3.36504 12.9489 4.05908C12.3281 4.57961 11.6237 4.9056 10.8099 4.98446C9.69341 5.08962 8.57695 5.21055 7.46048 5.32097C6.26054 5.43664 5.38407 6.30944 5.27451 7.51349C5.1806 8.51775 5.06582 9.522 4.99278 10.5262C4.91453 11.5726 4.55454 12.4769 3.86588 13.2656C3.22418 13.9964 2.62421 14.7693 2.00859 15.5265C1.1582 16.578 1.16341 17.7348 2.01902 18.7811C2.7129 19.6329 3.40678 20.4794 4.10065 21.3311C4.57541 21.9148 4.86235 22.5773 4.93539 23.3291C5.04495 24.4701 5.16495 25.611 5.27451 26.752C5.38407 27.9245 6.14055 28.771 7.30397 28.9445C8.12827 29.0655 8.9578 29.1601 9.79254 29.1916C11.2272 29.2442 12.4846 29.6754 13.5332 30.7059C14.0862 31.2475 14.7175 31.7049 15.3175 32.2044C16.4444 33.1456 17.5504 33.1508 18.6877 32.2097C19.4755 31.5629 20.2581 30.911 21.0354 30.2485C21.7345 29.6543 22.5275 29.3494 23.4353 29.2758C24.5361 29.1864 25.6422 29.0865 26.7378 28.934C27.7864 28.7868 28.5377 28.0297 28.689 26.9833C28.8142 26.1368 28.9081 25.2851 28.9394 24.428C28.9916 22.9821 29.4141 21.715 30.4367 20.6529C31.0262 20.0377 31.5271 19.3384 32.0644 18.6759C32.4244 18.2343 32.6175 17.7295 32.607 17.1301L32.6018 17.1354ZM12.7246 44.9863C14.2167 41.3846 15.6722 37.8776 17.1643 34.276C15.6253 34.3706 14.634 33.4768 13.6271 32.6093C13.1106 32.1623 12.5837 31.7207 12.0463 31.3C11.8116 31.116 11.5351 30.9793 11.269 30.8374C10.9612 30.6744 10.7786 30.7269 10.6221 31.095C9.16127 34.6598 7.67438 38.2194 6.19794 41.779C6.1562 41.8789 6.13533 41.9893 6.08838 42.147C7.16832 41.8368 8.18566 41.5476 9.203 41.2584C10.1212 41.0008 10.669 41.2321 11.1333 42.0681C11.6498 43.004 12.1559 43.9399 12.7246 44.9757V44.9863Z"
              fill="#F7CD1E" />
            <path
              d="M27.7864 17.1459C27.7864 23.5657 22.3084 28.5922 15.954 27.9876C10.836 27.5039 6.75097 23.3554 6.26056 18.1501C5.83797 13.681 8.22741 9.36426 12.2237 7.38205C12.2655 7.36102 12.3072 7.34524 12.3489 7.32421C12.9072 7.05606 13.2776 7.12967 13.4811 7.54504C13.6793 7.9499 13.4967 8.29691 12.9541 8.58084C9.54213 10.358 7.737 13.192 7.59614 17.0512C7.42919 21.6256 11.0394 25.895 15.5418 26.5259C20.7068 27.2515 25.2822 23.9653 26.2734 18.8074C27.2386 13.7809 23.7171 8.63867 18.7086 7.81845C17.8791 7.68174 17.0183 7.72907 16.1731 7.69752C15.9488 7.687 15.7088 7.73958 15.4949 7.68174C15.1714 7.5871 14.994 7.32947 15.0305 6.98245C15.0723 6.57234 15.3331 6.3778 15.7296 6.33573C17.6078 6.1149 19.4181 6.36728 21.1607 7.10338C25.1779 8.79115 27.7864 12.7556 27.7864 17.1511V17.1459Z"
              fill="#F7CD1E" />
            <path
              d="M14.6601 17.9241C15.1557 17.4035 15.5835 16.9356 16.0322 16.4834C17.2634 15.2373 18.4895 13.9912 19.7311 12.7556C20.4407 12.051 21.4058 11.9196 22.2406 12.3718C23.0545 12.8134 23.5083 13.7178 23.284 14.6537C23.1849 15.0638 22.9605 15.4949 22.6684 15.7946C20.5241 17.9977 18.3538 20.1797 16.1835 22.3564C15.2705 23.2713 14.0236 23.2555 13.1002 22.3407C12.1194 21.3627 11.1385 20.3847 10.1734 19.391C9.30733 18.5024 9.30211 17.1932 10.1316 16.3467C10.9716 15.4949 12.2498 15.4949 13.1471 16.373C13.6375 16.8515 14.1019 17.3562 14.6549 17.9293L14.6601 17.9241ZM14.6601 21.6939C14.8844 21.5572 15.0983 21.4679 15.2496 21.3154C17.3991 19.1597 19.5433 16.9934 21.6823 14.8324C21.745 14.7693 21.8128 14.701 21.8545 14.6221C22.0267 14.3067 22.011 13.9964 21.7606 13.7388C21.4945 13.4654 21.1763 13.4233 20.8528 13.6336C20.7172 13.723 20.6024 13.8545 20.4824 13.9702C18.7555 15.7105 17.0339 17.4509 15.3018 19.1912C14.801 19.696 14.5036 19.6907 13.9923 19.1859C13.4028 18.5918 12.8185 17.9924 12.2185 17.4035C11.8481 17.0407 11.4411 17.0145 11.1281 17.3142C10.8099 17.6191 10.8255 18.0713 11.1959 18.4446C12.1454 19.412 13.095 20.3742 14.0601 21.3259C14.2114 21.4784 14.4305 21.5625 14.6497 21.6939H14.6601Z"
              fill="#F7CD1E" />
          </g>
          <defs>
            <clipPath id="clip0_59_616">
              <rect width="34" height="47" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <h4 class="aboutUsMiniHeadings">Experience</h4>

      </div>
      <p class="generalParaAboutUs"> Over 10 years working in IT services developing software applications and
        mobile apps for clients globally.</p>
    </div>

  </div>

  <!-- Our Services Div -->
  <div class="ourServicesDiv" id="services">
    <h1 class="genralMainHeadingForHome">Our services <div class="yellowline"></div>
    </h1>
    <% ServicePosts.map(({name, description,imagePath}) => { %>
    <div class="dataDivServices">
      <img class="ourServicesDivImg" src="<%=imagePath %>" alt="">
      <div class="yellowCicleDiv">
        <h3 class="especialClassCounterPart2"></h3>
      </div>
      <div class="servicesDivText">
        <h3 class="servicesDivTextHeading"><%=name %></h3>
        <p class="servicesDivTextPara"><%=description %></p>
      </div>
    </div>
    <% }) %>
  </div>

  <!-- blogs -->
  <div class="blogDiv">
    <h1 class="genralMainHeadingForHome">Blogs<div class="yellowline"></div>
    </h1>
    <div class="mainDataDivEnclosed spaceBW forhomeBlog">
      <% blogs.map(({name, description ,date,url, from,imagePath}) => { %>
      <div class="dataDivContainer">
        <img class="imgContainer" src="<%=imagePath %>" alt="">
        <div class="headingdataDiv">
          <h2><%=name %></h2>
          <h3><%=date %></h3>
        </div>
        <p class="textgdataDiv"><%=description %></p>
        <div class="bottomdataDiv">
          <h2><%=from %></h2>
          <a href="<%=url%>" target="_blank">
          <h3>Read more <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 0L7.41375 1.58625L13.6912 7.875H0V10.125H13.6912L7.41375 16.4137L9 18L18 9L9 0Z"
                fill="#F7CD1E" />
            </svg></h3> </a>
        </div>
      </div>
      <% }) %>
      <div class="dataDivContainer">
        <img class="imgContainer" src="/images/Rectangle 93.png" alt="">
        <div class="headingdataDiv">
          <h2>Heading</h2>
          <h3>12 sep,2023</h3>
        </div>
        <p class="textgdataDiv">Over 10 years working in IT services developing
          software applications and mobile apps for clients
          globally. Over 10 years working in IT services
          developing software applications and mobile apps
          for clients globally.</p>
        <div class="bottomdataDiv">
          <h2>By tabish waheed</h2>
          <h3>Read more <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 0L7.41375 1.58625L13.6912 7.875H0V10.125H13.6912L7.41375 16.4137L9 18L18 9L9 0Z"
                fill="#F7CD1E" />
            </svg></h3>
        </div>
      </div>
      <div class="dataDivContainer">
        <img class="imgContainer" src="/images/Rectangle 93.png" alt="">
        <div class="headingdataDiv">
          <h2>Heading</h2>
          <h3>12 sep,2023</h3>
        </div>
        <p class="textgdataDiv">Over 10 years working in IT services developing
          software applications and mobile apps for clients
          globally. Over 10 years working in IT services
          developing software applications and mobile apps
          for clients globally.</p>
        <div class="bottomdataDiv">
          <h2>By tabish waheed</h2>
          <h3>Read more <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 0L7.41375 1.58625L13.6912 7.875H0V10.125H13.6912L7.41375 16.4137L9 18L18 9L9 0Z"
                fill="#F7CD1E" />
            </svg></h3>
        </div>
      </div>
      <div class="dataDivContainer">
        <img class="imgContainer" src="/images/Rectangle 93.png" alt="">
        <div class="headingdataDiv">
          <h2>Heading</h2>
          <h3>12 sep,2023</h3>
        </div>
        <p class="textgdataDiv">Over 10 years working in IT services developing
          software applications and mobile apps for clients
          globally. Over 10 years working in IT services
          developing software applications and mobile apps
          for clients globally.</p>
        <div class="bottomdataDiv">
          <h2>By tabish waheed</h2>
          <h3>Read more <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 0L7.41375 1.58625L13.6912 7.875H0V10.125H13.6912L7.41375 16.4137L9 18L18 9L9 0Z"
                fill="#F7CD1E" />
            </svg></h3>
        </div>
      </div>
    </div>
    <a href="">
      <div class="ButtonDiv">
        <p class="buttonText">See more</p> <svg class="svgClass" xmlns="http://www.w3.org/2000/svg" width="47"
          height="24" viewBox="0 0 47 24">
          <path d="M35.2794 9.17096H0V14.8129H35.2794V23.2759L47 11.9919L35.2794 0.708008V9.17096Z" />
        </svg>
      </div>
    </a>
  </div>

  <!-- ContactUs -->
  <div class="ContactUsDiv" id="contactus">
    <h1 class="genralMainHeadingForHome">Contat Us<div class="yellowline"></div>
    </h1>
    <div class="rectangleYellow"> </div>
    <div class="formAndInfo">
      <div class="inputSection">
        <input type="text" name="firstname" id="firstname" placeholder="Fist Name">
        <input type="text" name="lastname" id="lastname" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="Email address">
        <input type="text" name="contactnumber" id="contactnumber" placeholder="Contact Number">
        <textarea name="message" id="message" placeholder="Message/query"></textarea>
        <div class="buttonWraper">
          <button type="submit" class="aboutUsSubmitBtn">Submit</button>
        </div>
      </div>
      <div class="infoDiv">
        <div class="horizentalInfoDiv">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="19" viewBox="0 0 25 19" fill="none">
            <path
              d="M22.5 0H2.5C1.125 0 0.0125 1.06875 0.0125 2.375L0 16.625C0 17.9312 1.125 19 2.5 19H22.5C23.875 19 25 17.9312 25 16.625V2.375C25 1.06875 23.875 0 22.5 0ZM22.5 16.625H2.5V4.75L12.5 10.6875L22.5 4.75V16.625ZM12.5 8.3125L2.5 2.375H22.5L12.5 8.3125Z"
              fill="#F7CD1E" />
          </svg>
          <div class="verticleInfoDiv">
            <h3 class="contactInfoHead">Email</h3>
            <p class="paraAboutUs">abc@gmail.com</p>
          </div>
        </div>
        <div class="horizentalInfoDiv">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <g clip-path="url(#clip0_59_726)">
              <path
                d="M6.89583 11.2396C8.39583 14.1875 10.8125 16.5937 13.7604 18.1042L16.0521 15.8125C16.3333 15.5312 16.75 15.4375 17.1146 15.5625C18.2812 15.9479 19.5417 16.1562 20.8333 16.1562C21.4062 16.1562 21.875 16.625 21.875 17.1979V20.8333C21.875 21.4062 21.4062 21.875 20.8333 21.875C11.0521 21.875 3.125 13.9479 3.125 4.16667C3.125 3.59375 3.59375 3.125 4.16667 3.125H7.8125C8.38542 3.125 8.85417 3.59375 8.85417 4.16667C8.85417 5.46875 9.0625 6.71875 9.44792 7.88542C9.5625 8.25 9.47917 8.65625 9.1875 8.94792L6.89583 11.2396Z"
                fill="#F7CD1E" />
            </g>
            <defs>
              <clipPath id="clip0_59_726">
                <rect width="25" height="25" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <div class="verticleInfoDiv">
            <h3 class="contactInfoHead">Contact</h3>
            <p class="paraAboutUs">123456789</p>
          </div>
        </div>
        <div class="horizentalInfoDiv">
          <i class='bx bxs-map' style='color:#f7cd1e'></i>
          <div class="verticleInfoDiv">
            <h3 class="contactInfoHead">Location</h3>
            <p class="paraAboutUs">abc</p>
          </div>
        </div>
        <div class="horizentalInfoDiv">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
            <path
              d="M9 0C4.05 0 0 4.06351 0 9.03003C0 13.9965 4.05 18.0601 9 18.0601C13.95 18.0601 18 13.9965 18 9.03003C18 4.06351 13.95 0 9 0ZM12.78 12.8226L8.1 9.93303V4.51501H9.45V9.21063L13.5 11.6487L12.78 12.8226Z"
              fill="#F7CD1E" />
          </svg>
          <div class="verticleInfoDiv">
            <h3 class="contactInfoHead">Timing</h3>
            <p class="paraAboutUs">09:00am to 06:00pm</p>
          </div>
        </div>

      </div>


    </div>
  </div>
  <%- include('../partials/footer') %>